<style>
  .intro-header {
    background-image: url("https://s3.amazonaws.com/devin-lee-assets/mountains.jpg") !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
</style>

<% provide(:title, "Contact") 
provide(:header_title, "Contact Me")
provide(:header_subtitle, "If you were kind enough to visit my page, I'd like to get to know you! Fill out the form below to send me a message and I will try to get back to you within a few days.")
%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <%= render 'form' %>

  </div>
</div>
