<% provide(:title, "New Blog Post") 
provide(:header_title, "New Blog Post")
provide(:header_subtitle, "My thoughts, rants, and discoveries.")
%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>New Blog Post</h1>

    <%= render 'form' %>

  </div>
</div>