<% provide(:title, "About") 
provide(:header_title, "About Me")
provide(:header_subtitle, "Hi, my name is Devin!")
%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p>I am a programmer based in Greater Washington D.C. Metropolitan Area. </p>
  </div>
</div>
