<% provide(:title, "About") 
provide(:header_title, "About Me")
provide(:header_subtitle, "Hi, my name is Devin!")
%>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <p>I am a programmer based in Washington D.C. metropolitan area. My main title is software engineer for Harris Corporation working as a contractor in the U.S. Census Bureau. I am a graduate of University of Virginia class of 2014. I am 23 years old.</p>


    <p>Aside from that, I'm trying to deal with the fact that I am a recent college grad and to decide how I want the rest of my 20s to turn out! I don't really have a clue what life is about, so I'm anxious to discover for myself and share my thoughts here.</p>

    <p>I like watching movies and listening to music (I am pretty obsessed with high fidelity video and audio). I think the cheapest form of pleasure is hiking. I enjoy improving myself through learning computer science and becoming stronger through cold hard physical training.</p>

    <a href="https://s3.amazonaws.com/devin-lee-assets/Resume+2015+v2.pdf">Résumé</a>
  </div>
</div>
