<% provide(:title, "Home") 
provide(:header_title, "Devin Lee")
provide(:header_subtitle, "Creative Developer")%>
<div class="row col-md-10 col-md-offset-1">
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
      <h3>Something 1</h3>
      <p class="text-muted">Blah blah Blah blah.</p>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
      <h3>Something 2</h3>
      <p class="text-muted">Blah blah!</p>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
      <h3>Something 3</h3>
      <p class="text-muted">Blah blah Blah blah Blah blah.</p>
    </div>
  </div>
</div>