<style>
  .intro-header {
    position:relative;
  background-image: url("https://s3.amazonaws.com/devin-lee-assets/20150802_101610-1.jpg") !important;

}
</style>
<% provide(:title, "Home") 
provide(:header_title, "Devin Lee")
provide(:header_subtitle, "Consultant. Programmer. Thinker.")%>
<div class="row col-md-10 col-md-offset-1">
  <h3 style="text-align: center;">Current Pursuits</h3>
  <hr >
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-university wow bounceIn text-primary"></i>
      <h3>Computational Theories and Software Engineering</h3>
      <p class="text-muted">Data structures, algorithms, coding challenges, and programming languages.</p>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-heartbeat wow bounceIn text-primary" data-wow-delay=".1s"></i>
      <h3>Health</h3>
      <p class="text-muted">Cardio and strength training.</p>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 text-center">
    <div class="service-box">
      <i class="fa fa-4x fa-camera-retro wow bounceIn text-primary" data-wow-delay=".2s"></i>
      <h3>Photography</h3>
      <p class="text-muted">Images are one of the most powerful medium of the reminders of the past. I would like to master the art!</p>
    </div>
  </div>
</div>